<div>
    <form action="/createpost" method="post">
        <div>
        <label for="location">Location</label>
        <input type="text" name="location" id="location" />
        </div>
        <div>
        <label for="Description">Description</label>
        <textarea name="Description" id="Description" cols="30" rows="10"></textarea>
        </div>
        <div>
        <input type="submit" value="Submit" />
        </div>
    </form>
</div>