<section class="bg-info style=--bs-text-opacity: .5;">
 
<form action="/createpost" method="post">
  <div class="form-group row m-2">
    <legend for="location" class="col-sm-2 col-form-label">Location</legend>
    <input type="text" class="form-control col-sm-9" name="location" id="location" placeholder="Location">
  </div>
  <br>
  <div class="form-group row m-2">
    <legend for="Description" class="col-sm-2 col-form-label">Description</legend>
    <textarea type="text" class="form-control col-sm-9" id="description" cols="30" rows="10" placeholder="Describe your Vacation Plans"></textarea>
  </div>
  <div class="form-group row m-5 justify-content-center">
    <div class="col-sm-9">
      <button type="submit" class="btn btn-primary " id="createPostBtn" data-id="{{post.id}}">Post</button>
    </div>
  </div>
</form>
</section>

<script src="/js/createpost.js"></script>