<section class=""
<form action="/createpost" method="post">
  <div class="form-group row">
    <legend for="location" class="col-sm-2 col-form-label">Location</legend>
    <input type="text" class="form-control col-sm-10" name="location" id="location" placeholder="Location">
  </div>
  <br>
  <div class="form-group row">
    <legend for="Description" class="col-sm-2 col-form-label">Description</legend>
    <textarea type="text" class="form-control col-sm-10" id="formDescription" cols="30" rows="10" placeholder="Describe your Vacation Plans"></textarea>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Post</button>
    </div>
  </div>
</form>

<form class="card" style="width:18rem">
  <div class="form-group row">
    <legend for="formLocation" class="col-sm-2 col-form-label">Location</legend>
    <input type="text" class="form-control col-sm-10" id="formLocation" placeholder="Location">
  </div>
  <br>
  <div class="form-group row">
    <legend for="formDescription" class="col-sm-2 col-form-label">Description</legend>
    <textarea type="text" class="form-control col-sm-10" id="formDescription" cols="30" rows="10" placeholder="Describe your Vacation Plans"></textarea>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Post</button>
    </div>
  </div>
</form>