<section class="container">
{{!#if loggedIn}}
<section class="flex-row justify-center">
{{#each posts as |post|}}
<div>
    <p>{{post.image}}</p>
</div>
{{/each}}
</section>
</section>

{{#each posts as |post|}}
     <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{post.location}}</h5>
            <p class="card-text">
              {{post.image}}
            </p>
          </div>
        </div>
      </div>
    </div>
    {{/each}}

{{!else}}
<!--a href="/login">You must login first to view this page</a>
{{!/if}}

