<section class="container">
{{!#if loggedIn}}
{{#each posts as |post|}}
     <div class="row">
      <div class="col row-cols-2 row-cols-md-2 g-4 displayPostBtn" data-id="{{post.id}}">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{post.location}}</h5>
            <p class="card-text">
              <img
              src="/images/{{post.img}}"
              class="img-thumbnail"
              alt="place holder"
            />
            </p>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
</section>

<script src="/js/displayposts.js"></script>
