
  
    <div class="mt-4">
    

      <nav class="navbar navbar-light border-primary">
        <a class="navbar-brand">Comments</a>
        <div class="dropdown">
        <a
          class="btn btn-sm btn-secondary dropdown-toggle"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          Categories
        </a>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Accommodations</a>
          <a class="dropdown-item" href="#">Food/Drink</a>
          <a class="dropdown-item" href="#">Entertainment</a>
        </div>
      </nav>
      
    </div>
       
        {{/each}}
      
    </div>

