<div class="row row-cols-1">
  <div class="col p-2 text-center col-md-6">
    <h2>Login</h2>
    <form class="form login-form text-right">
      <div class="form-group row">
        <label for="inputEmail" class="col-md-3 col-form-label">Email</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" id="email-login" />
        </div>
      </div>
      <div class="form-group row">
        <label
          for="inputPassword"
          class="col-md-3 col-form-label"
        >Password</label>
        <div class="col-sm-8">
          <input type="password" class="form-control" id="password-login" />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-8">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </div>
    </form>
  </div>

  <div class="text-center p-2 col-md-6">
    <h2>Sign Up</h2>
    <form class="form signup-form text-right">
      <div class="form-group row">
        <label for="inputName" class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-8">
          <input type="name" class="form-control" id="name-signup" />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" id="email-signup" />
        </div>
      </div>
      <div class="form-group row">
        <label
          for="inputPassword"
          class="col-sm-3 col-form-label"
        >Password</label>
        <div class="col-sm-8">
          <input type="password" class="form-control" id="password-signup" />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-8">
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
      </div>
    </form>
  </div>
</div>

<a class="button google" style="align-items:center" href="/login/federated/google">Sign
  in with Google</a>

<script src="/js/login.js"></script>
