<div class="container">
  <div class="row">
    <div class="col-sm-2 col-sm border border-primary">Sidebar</div>
     
    <div class="col-sm-10 col-sm border border-danger">
      <div class="row">
        <div class="col-sm border border-success">Calendar</div>
        <div class="col-sm">
          <div class="border border-info">Notes</div>

          <div class="border border-primary">Photos</div>
          {{!-- Cloudinary --}}
        </div>
      </div>
      <div class="col col-sm border border-danger">Description</div>
      {{post.description}}
      <div class="col col-sm border border-success">Posts</div>
        <div>
          {{!-- add location --}}
            {{post.location}}
            {{post.user.name}}
        </div>

    {{!-- {{#if logged_in}} --}}
    <button
          id="createCommentBtn"
          class="btn btn-sm btn-primary"
          data-id="{{id}}"
        >Create Comment</button>
    {{!-- {{/if}} --}}
      </div>
  </div>
</div>

<script src="/js/comments.js"></script>